* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.border-radius {
  border-radius: 50%;
}

.no-italic {
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-size: 42px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
  font-weight: 400;
}

li {
  list-style-type: none;
}

p {
  font-size: 36px;
  font-style: oblique;
}

article {
  width: 100%;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.image-location {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.navbar {
  background-color: #087f5b;
  padding: 20px;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  align-items: center;

  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #fff;
}
.navbar .links {
  margin-left: auto;
  font-size: 1.6rem;
  color: #b8f7d7;
}
.navbar a {
  color: #fff;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  text-decoration: none;
  color: #f3ad61;
}
.content {
  display: grid;
  grid-template-rows: repeat(5, [col-start] 1fr [col-end]);
  /* max-width: 600px;
  margin: 40px auto;
  padding: 20px; */
}

.App-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  gap: 100px;
  padding: 50px;

  background-color: rgba(253, 207, 184, 0.365);
}

.logo {
  width: 50rem;
  height: 50rem;
  border: 0.5rem solid rgba(220, 70, 50, 0.284);
  border-radius: 50%;
}
.header-clipart {
  width: 35rem;
  height: 35rem;
  align-self: center;
  border-radius: 10%;
}

.headline {
  display: flex;
  flex-direction: column;
  border: 0.5rem solid rgba(220, 70, 50, 0.284);
  border-radius: 10%;
  /* gap: 15rem; */
}

.Menu {
  background-color: #f4beb211;
  box-shadow: 12px 12px 2px 1px #f4beb2bd;
  border-radius: 50%;
}

/* .navigation {
  font-style: italic;
  font-weight: 650;
}

.navigation-list {
  text-align: right;
  font-size: 36px;
  font-style: italic;
  text-decoration: underline;
} */

.AboutUs {
  height: 100vh;
  background-color: rgba(118, 157, 28, 0.455);
  font-size: 36px;
  text-align: center;
  justify-self: center;
  padding: 30px;
}

.headline-small {
  padding-bottom: 30px;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: linear-gradient(to bottom, rgb(3, 55, 68), rgb(7, 93, 4));
}

.main-part-one {
  background-color: rgba(188, 201, 132, 0.289);
  font-size: 34px;
  color: white;
  text-shadow: 1px 1px 2px pink;
  padding: 50px;
}
.main-part-two {
  background-color: rgb(188, 201, 132);
  font-size: 34px;
  text-shadow: rgba(207, 232, 243, 0.536) 1px 0 10px;
  padding: 50px;
}
.CatsList {
  height: 100vh;
  /* grid-row: 3/5; */
}

.CatsList-Headline {
  background-color: white;
  color: rgb(212, 85, 0);

  font-size: 4.8rem;
  box-shadow: 12px 12px 24px rgba(219, 255, 222, 0.458);
  padding: 10px;
  padding-top: 10px;
  text-align: center;
}

.cats {
  background-color: rgba(253, 207, 184, 0.363);
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 50px;
  /* padding: 0 10rem 0 10rem; */
}
.carousel {
  width: 800px;
  margin: 100px auto;
  background-color: #087f5b;
  padding: 12px 48px 12px 48px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 86px; */
  position: relative;
}

.no-display {
  display: none;
}

.cat-li {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  /* background-color: #f4beb2; */
  height: 100vh;

  border: ridge #f3ad61;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  list-style: none;
  margin-right: 4rem;
  margin-left: 4rem;
}
/* 
.cat-image-div {
  display: flex;
  width: 400px;
  height: 200px;
  justify-content: center;
} */

.cat-image {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 1);
  transform: scale(1.66);
  margin-bottom: 65px;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  width: 400px;
  height: 200px;
  align-self: center;
}

.cat-headline {
  background-color: white;
  color: rgb(212, 85, 0);
  height: 100vh;
  font-size: 3.2rem;
  box-shadow: 12px 12px 24px rgba(219, 255, 222, 0.458);
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}

.cats-number-h2 {
  padding-top: 110px;
  font-size: 5.2rem;
}

.cats-number-bigger {
  font-style: bolder;
  font-style: italic;
}

.text-about-cat {
  font-size: 2rem;
  font-weight: 500;
  background-color: #b8f7d7;

  height: max-content;
  padding: 7px;
}

.btn {
  background-color: #fff;
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0px;
  top: 50%;
  transform: translate(50%, -50%);
}

.btn-icon {
  stroke: #087f5b;
  stroke-width: 1.8;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 5rem; */
}

.box-shadow {
  box-shadow: 0 12px 24px rgb(0, 0, 0);
}

.box-shadow-lighter {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.368);
}

.ListOfCats {
  display: grid;

  grid-template-columns: repeat(4, [col-start] 200px [col-end]);
  /* height: 100vh;
  width: 100vw; */
  gap: 10px;
  text-align: center;
}

.gallery-img {
  height: 100px;
  width: 200px;
}

.AddNewCat {
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* align-items: center; */
  justify-items: center;
  /* height: 100vh; */
  width: 100vw;
  text-align: center;
  background-color: rgba(118, 157, 28, 0.455);

  align-self: center;
  padding: 150px;
}

.add-cat-headline {
  background-color: #087f5b;
  color: #fff;
}

.addNewCatForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: center;
  justify-items: stretch;
  color: #0a3e2f;
  font-size: 3.8rem;
}

.form-cats-entry {
  justify-self: first baseline;
  padding: 10px;
}

.form-input-field {
  height: 40px;
}

.min-length {
  font-size: 1.2rem;
}

.form-description {
  height: 20rem;
}

.btn--add-cat {
  background-color: #087f5b;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 800;
  width: 15rem;
  height: 7rem;
  justify-self: center;
  grid-column: -3/-1;
  border-radius: 30%;
  margin-top: 10rem;
  cursor: pointer;
}
